html,
body {
    margin: 0;
    padding: 0px !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 0px;
    background: #2c384b;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    height: 0px;
    background: #474646;
    border-radius: 5px;
}